body {font-family: Arial;}

* {
  background-color: rgb(193, 252, 187);
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgb(163, 226, 144);
  background-color: rgb(171, 226, 154);
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(144, 221, 123);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(17, 255, 0);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(173, 239, 172);
  border-top: none;
}

.member {
  width: 25%;
  height: 50%;
  text-align: center;
  border: 3px solid black;
}

.mProfileImg {
  width: 100%;
  border: nonedone;
  background-color: rgb(193, 252, 187);
}